/.gitignore
*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*
# Build Artifacts
.gradle/
build/
target/
bin/
dependency-reduced-pom.xml
# Eclipse Project Files
.classpath
.project
.settings
#other
doc/
# IntelliJ IDEA Files
*.iml
*.ipr
*.iws
*.idea
**/*.iml
**/*.ipr
**/*.iws
**/*.idea
*.class
**/*.class
*.prefs
*.MF
*.core.xml
**/*.prefs
**/*.MF
**/*.core.xml
org.eclipse*
**/org.eclipse*